<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <log4net configSource="Log4Net.config" />
  <connectionStrings>
    <add name="NSWOracle" connectionString="User Id=NSWMIGRATE; Password=NSWMIGRATE; Data Source=10.224.164.14:1521/vnswtest;" providerName="System.Data.OracleClient"/>
    <add name="NSWSQL" connectionString="Server=10.224.164.13;Database=NSW;User ID=sa;Password=123456a@"/>
  </connectionStrings>
  <appSettings>
    <add key="Top" value="1000" />
    <add key="ScheduleTime" value="5000" />
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
